<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>AdminLogin Page</title>

    <link href="../../static/landing/assets/images/e.jpg" rel="icon">
  <link href="../../static/landing/assets/images/apple-touch-icon.png" rel="apple-touch-icon">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../static/landing/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <h2>Welcome to Admin Login</h2>
    <div class="container" id="container">
       
        <div class="form-container sign-in-container">
            <br>
            <div style="float: inline-start;">
                &nbsp;&nbsp;&nbsp;<a href="../../templates/landing/index.html"><i class="fa fa-home menu-icon" style="font-size: 20px; color: lightcoral;"></i></a>
            </div>
            <form action="../dashboard/admin/home.html" method="POST">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>&nbsp;
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>&nbsp;
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
                <h5><span>or use your account</span></h5>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <a href="#">Forgot your password?</a>
                <a href="../dashboard/admin/home.html"><button>Sign In</button></a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back! Admin</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button>Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back! Admin</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <a href="../landing/adminlogin.html" ><button class="ghost"> <---Sign In</button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/landing/assets/js/myjs.js"></script>


</body>


</html>